.btn-outline-primary{
    background-color: #161853;
    border-color: #161853;
    color: #fff;
}
.btn-outline-primary:hover{
    background-color:#EC255A;
    border-color: #EC255A;
}
.btn-check:checked+.btn-outline-primary{
    background-color:#EC255A;
    border-color: #EC255A;
}
/* TODO: button click state color change */


.bg-blue{
    background-color: #161853;
}
.fixed{
    position: sticky;
    top: 10rem;

}
.form-card{
    padding-left: 70px;
    padding-right: 70px;
    background: #FAEDF0;
    border-radius: 20px;
    padding-top: 90px;
    padding-bottom: 95px;
    margin-left: 50px;
    margin-right: 50px;
}
.select-menu{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
}

.menu-area{
    background-image: url('https://d1xi1k2z09mzb6.cloudfront.net/banner/tamanna-rumee-DoUgSMezLp0-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-position: center 95px;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.container{
    position: relative;
    padding: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    z-index: 0;
    text-align: center;
}
.overlay:hover{
    opacity: 0.75;
    cursor: pointer;
}
.price-tag{
    font-size: 1.25em;
    color: #F3212C;
}
.text {
    color: white;
    font-size: 1.875em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    z-index: 0;
}
